* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  /* background: rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 227, 252);
}

.container {
  display: flex;
  gap: 5rem;
  background-color: #fff;
  padding: 3.125rem;
}

.icons {
  text-align: center;
  margin-bottom: 1.875rem;
}
.icons i {
  color: purple;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.icons h3 {
  font-size: 1.2rem;
  color: rgb(83, 7, 83);
  margin-bottom: 0.2rem;
}

.icons p {
  font-size: 1rem;
  color: #998b9b;
  line-height: 1.3;
}
.left {
  position: relative;
}
.left::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 70%;
  background-color: #ddcbe2;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
